
/* Impostazioni generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: #f6f8f9;
}

.common-bg {
    background-color: #ffffff;
}

/* Header */

header {
    padding: 10px 15px;
    margin-bottom: 40px;

}

#logo {
    vertical-align: middle;   
}

#Logo-text {
    line-height: 50px;
    vertical-align: middle;
    font-size: 35px;
    font-weight: 700;
}

/* Main */

main {
    width: 70%;
    margin: auto;
}

    /* Buttons */

    #buttons {
        padding: 18px 50px 6px;
        margin-bottom: 2px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    button {
        all: unset;
        cursor: pointer;
        font-size: 11px;
        padding: 6px 10px;
        border-radius: 5px;
        border: solid 1px;
        

    }

    button:active {
        transform:translateY(1px);
    }

    #btn-task {
        background-color: #47adf1;
        color: white;
        border-width: 1px;
        border-color: #47adf1;
    }

    #btn-section {
        color: #c5cbd0;
        border-color: #c5cbd0;
    }


    /* List of categories */

    #lists {
        padding: 30px 50px;
        color: #444851;
        line-height: 25px;
    }

    .list-category {
        margin-bottom: 20px;
    }

    .list-category strong::before {
        content: "\23F7";
    }

    .list-category strong {
        font-size: 20px;
    }

    .list-category span {
        display: inline-block;
    }

    .list-category li {
        list-style-type: none;
    }

    .task-item {
        margin: 10px 0px;
    }

        /* stickers */

        .label {
            font-size: 11px;
            padding: 0px 10px;
            color: white;
            background-color: #47adf1;
            border-radius: 10px;
        }

        .label.editorial {
            background-color: #47adf1;
        }

        .label.goals {
            background-color: #9c72e4;
        }

        .label.recruiting {
            background-color: #64c0a9;
        }

        .label.mobile {
            background-color: #f29e33;
        }

        .label.website {
            background-color: #d863a1;
        }

        .label.sales {
            background-color: #b0c926;
        }


        /* green and red symbols */

        .list-category .task {
            width: 16px;
            height: 16px;
            font-size: 9px;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            line-height: 10px;
            padding: 3px;
            border-radius: 50%;
            border: solid 1px; 
            margin-right: 6px;

        }

        .task.done {
            color: #64c0a9;
        }

        .task.pending {
            color: #eb5851;
        }
