
/* Impostazioni generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: #f6f8f9;
}

.common-bg {
    background-color: #ffffff;
}

/* Header */

header {
    padding: 10px 15px;
    margin-bottom: 40px;

}

#logo {
    vertical-align: middle;   
}

#Logo-text {
    line-height: 50px;
    vertical-align: middle;
    font-size: 35px;
    font-weight: 700;
}

/* Main */

main {
    width: 70%;
    margin: auto;
}

    /* Buttons */

    #buttons {
        padding: 18px 50px 6px;
        margin-bottom: 2px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    button {
        all: unset;
        cursor: pointer;
        font-size: 11px;
        padding: 6px 10px;
        border-radius: 5px;
        border: solid 1px;
        

    }

    button:active {
        transform:translateY(1px);
    }

    #btn-task {
        background-color: #47adf1;
        color: white;
        border-width: 1px;
        border-color: #47adf1;
    }

    #btn-section {
        color: #c5cbd0;
        border-color: #c5cbd0;
    }


    /* List of categories */